

@media all and (min-width: 480px) {
    .SignUp {
      padding: 60px 0;
    }

    button {
      margin-left: 2px;
      color: black;
    }
  
    .SignUp form {
      margin: 0 auto;
      max-width: 320px;
    }
  }