
.logo {
  /* background-image: url("/client/src/images/Convene\ Logo.png"); */
}

@media all and (min-width: 480px) {
    .Login {
      padding: 160px 0;
    }

  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }