.hero {
    /* Sizing */
    width: 97vw;
    /* height: 95vh; */
    /* width: 100vw; */
    /* height: 100vh; */
    height: auto;

    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

        /* Text styles */
        text-align: center;
        color:whitesmoke;
 
    
    /* Background styles */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* transparent*/
     opacity: 0.7; 

}
.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: auto;
    
    /* Padding and margins */

    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    
    /* Background styles */
    /* background-color:black; */
}
.text-center{
    text-align:center;
}
.form{
        /* Positioning and sizing */
        display: block;

        margin-top: 50px !important;
        
}

.hero-inner {
    width: 500px;
}

h1,.h1 {    
    /* Text styles */
    text-align: center;
    /* color: rgb(245, 236, 236) !important; */
    /* font-size: 100px; */
    font-size: 50px;

}
h5{
    text-align: center;
    color:black !important;
    font-size: 200px; 
}
h3{
    text-align: center;
    color:black !important;
    font-size: 20px; 
}
.list-group-item {
background-color:transparent;
/* font-size:50px !important; */
font-size:20px !important;
}

.hero-img1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(https://images.unsplash.com/photo-1530662590558-6463b5186074?ixlib=rb-0.3.5&s=64b197631d89ed1571dbbe81cdb2610b&auto=format&fit=crop&w=1660&q=80);
    
}
.hero-img2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(https://images.unsplash.com/photo-1516728043722-b394cb2f689e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c82882f6f384a30402cc75029d9e7b11&auto=format&fit=crop&w=2850&q=80);
    
}
.hero-img4{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),url(https://images.unsplash.com/photo-1520865968438-dd8f6dbe79f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=644da8acfa04265e5e0a98446643d254&auto=format&fit=crop&w=800&q=60);
    
}
.hero-img3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(https://images.unsplash.com/photo-1523475894503-be2117952e76?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d67f49467abfdb291951240b175494d3&auto=format&fit=crop&w=800&q=60);
    
}
.hero-img5{
    background-image:url(https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0e3917e828b7c2502b0041813eff1294&auto=format&fit=crop&w=800&q=60);

}