.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

        /* Text styles */
        text-align: center;
        color:whitesmoke;
 
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(https://images.unsplash.com/photo-1530662590558-6463b5186074?ixlib=rb-0.3.5&s=64b197631d89ed1571dbbe81cdb2610b&auto=format&fit=crop&w=1660&q=80);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* transparent*/
     opacity: 0.8; 

}
.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: auto;
    
    /* Padding and margins */

    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    
    /* Background styles */
    background-color:black;
}
.form{
        /* Positioning and sizing */
        display: block;

        margin-top: 50px !important;
        margin-left: 10px;
}
.hero .h1 {    
    /* Text styles */
    text-align: center;
    color: rgb(116, 15, 15) !important;
    font-size: 40px;
}